body {
    font-family: 'Inter', sans-serif;
    padding: 20px;
    margin: 0;
}

.small-link {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
}

.small-link:hover {
    background-color: gray;
    color: white;
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
}

.wide-link {
    width: 100%;
}