body {
    font-family: 'Inter', sans-serif;
    padding: 20px;
    margin: 0;
}

h1 {
    font-size: 64px;
    font-weight: bold;
}

h2 {
    font-size: 40px;
    font-weight: 600;
}

/* h3 will be used as our subheadding font */
h3 {
    font-size: 24px;
    color: #828282 !important;
    font-weight: normal;
}

input[type=text] , input[type=password], input[type=number]{
    width: 100%;
    height: 40px;
    border: 1px solid lightgray;
    border-radius: 8px;
    margin-top: 12px;
}

.small-link {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
}

.small-link:hover {
    background-color: gray;
    color: white;
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
}

.wide-link {
    width: 100%;
}

.fit-image {
    max-width: 100%;
    max-height: 100%;
}

.index-header {
    margin-bottom: 150;
    display: flex;
    justify-content: space-between;
}

.index-VIA {
    margin: 0px;
}

.index-mainImage {
    margin-top: 5em;
    margin-bottom: 5em;
}

.index-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.index-testimonial {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: left;
}

.login-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container{
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.dash-container{
    display: flex;
}

.dash-menuContainer{
    display: flex;
}

.dash-sidebar{
    width: 250px;
    background-color: #fff;
    height: 100vh;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    padding-top: 20px;
}

.dash-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dash-menu li {
    padding: 10px 20px;
}

.dash-menu li a {
    color: #333;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
}

.dash-menu li a:hover{
    background-color: #f7f7f7;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dash-icon{
    width: 24px;
    height: 24px;
    margin-right: 15px;
}

.dash-header{
    display: flex;
    justify-content: space-between;
}

.dash-mainContent{
    flex: 1;
    padding: 20px;
}

.dash-plusButton{
    width: 24px;
    height: 24px;
    text-decoration: none;
    background-color: #aaa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 8px;
}

.dash-plusButton a:hover{
    background-color: #f7f7f7;
}

.task-form{
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.tasks-table{
    width: 100%;
    padding: 20px;
}

/* These lines here might need to be refined, as it applies to all tables I need to be sure that it is usefull */
th, td {
    border-bottom: 1px solid rgb(211, 211, 211);
    text-align: left;
}
table, th, td {
    border-collapse: collapse;
    padding: 10px;
}

/* This section is for the popup, currently in testing with some suggested values to check out*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content{
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* Close for the modal */
.close{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}